.icon {
    /*background-color: red;*/
    /*font-size: 90px !important;*/
    /*line-height: 90px;*/
    /*margin-top: 20px !important;*/
}

.error-message {
    color: #DD4B39;
}

.user-level {
    padding-top: 9px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    height: 50px;
}

.chosen-container-single .chosen-single {
    border: none !important;
    border-radius: 4px;
    background: #008046;
    /*min-width: 400px;*/
    /*color: #00e67e;*/
    color: #00ff8c;
}

.notification-container {
    padding-top: 30px !important;
}

.notification-time {
    margin-top: 10px;
    margin-bottom: 10px;
}

.notification-body {
    clear: both;
    background-color: #F9F9F9;
    padding: 20px;
}
